/* Consertando responsivo em alguns dispositivos */
@media screen and (min-width: 1024px){

    @media screen and (min-height: 1366px){

        #seriesOfTheMoment {
        
            justify-content: flex-start;
            margin-left: 5vw;
            padding-top: 10vw;

        }

    }

}

@media screen and (min-width: 912px){

    @media screen and (min-height: 1368px){

        #seriesOfTheMoment {
        
            justify-content: flex-start;
            margin-left: 5vw;
            padding-top: 10vw;
    
        }

    }

}


@media screen and (max-width: 1100px){

    header{
        
        background-size: cover;
        height: 68vw;
    
    }

    /* Links de navegação */
    a{font-size: 70%;}

    /* Imagem do titulo da série principal */
    #seriesOfTheMoment #title {width: 40%;}

}

@media screen and (max-width: 674px){

    header{height: 68vw;}

    /* titulo e texto da serie principal */
    #internalSeries h1{margin-bottom: 0;}
    #internalSeries p{margin-top: 0;}

    /* Botão de play do filme */
    #playBut{

        font-size: 2.3vw;
        padding: 1.3%;
        width: 20vw;

    }
    #playBut img{

        margin-right: 5%;
        width: 20%;

    }

    /* Botão de informações */
    #information{

        font-size: 2.3vw;
        padding: 1.3% 2%;
        width: 30vw;

    }
    #information img{
        
        font-size: 100%;
        margin-right: 5%;
        width: 17%;

    }

    /* Tirando botão de som */
    #soundBox{display: none;}

}

@media screen and (max-width: 641px){

    /* titulo e texto da serie principal */
    #internalSeries h2,
    #internalSeries p{font-size: 2.5vw;}

}

@media screen and (max-width: 394px){

    /* Tirando botão de pesquisa da tela */
    #searchBut{display: none;}

}

@media screen and (max-width: 887px){

    header{

        background-size: cover;
        background-position: center;

    }

    /* Navegação principal */

    #responsiveNone{display: none;}/* Lista dropdown */

    #liResponsive{/* <li> que ficará visivel no responsivo */
        
        display: block;
        font-size: 70%;
        margin-left: 2vw;
    
    }

    #liResponsive img{/* Seta do <li> visivel */

        transform:rotate(180deg);
        vertical-align: middle;

    }

    @keyframes loading {
        from{
            transform: rotate(180deg);
        }
        to{
            transform: rotate(0deg);
        }
    }

    #liResponsive:hover img{/* Rotação do <li> visivel */

        animation-name: loading;
        animation-duration:0.4s;
        transform:rotate(0deg);

    }

    /* Caixa principal da parte da serie do momento */
    #seriesOfTheMoment {
        
        margin-left: 5vw;
        padding-top: 10vw;
        justify-content: flex-start;

    }

    /* Video de fundo do header */
    #tagVideo{width: 98vw;}

    /* Logo da Netflix */
    #logoNetflix{width: 10vw;}

    /* Tirando da tela*/
    #childrensButton{display: none;}


}



/*#firstList{

    display: flex;
    flex-direction: column;

}

#responsiveNone{display: none;}*/
/* lista dropDown 
#responsiveNone{

    display: none;
    /*position: relative;
    top: 30px;
    background: #000000db;
    width: 250px;
    height: 250px;
    padding: 0;
    margin-top: 250px;
    border-top: 1px solid #fff;

}
#responsiveNone li a{margin: 0;}

/* Funciona 
ul#firstList:hover ul{

    /*display: block;
    position: relative;
    top: 30px;
    background: #000000db;
    width: 250px;
    
    padding: 0;
    margin-top: 250px;
    border-top: 1px solid #fff;

}*/